apiVersion: apps/v1
kind: Deployment
metadata:
  name: registration-form-app
  labels:
    app: registration-form-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: registration-form-app
  template:
    metadata:
      labels: 
        app: registration-form-app
    spec:
      containers:
      - name: registration-form-app
        image: rajkashyap12/registration-form-app:latest  
        ports:
        - containerPort: 8080
        env:
        - name: DB_URL
          value: jdbc:mysql://your-database-host:3306/your-database-name  # Replace with actual DB info
        - name: DB_USERNAME
          value: your-database-username  # Replace with actual DB username
        - name: DB_PASSWORD
          value: your-database-password  # Replace with actual DB password
      imagePullPolicy: Always
