apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app: prometheus
    component: server
    chart: prometheus
    release: prometheus
    heritage: Helm
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'flask-app'
        metrics_path: /metrics
        static_configs:
          - targets: ['192.168.49.2:30017']
